body {
  height: 100vw;
  width: 100vw;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #1C293A;
  overflow: hidden;
  font-size: 16px;
  display: flex;
  /* align-items: center; */
  /* align-items: center;
  display: flex;
  justify-content: center; */
}

.main-container {
  display: flex;
  /* margin: 0 auto; */
  margin: auto;
  margin-top: 2rem;
}

.container {
  width: 20rem;
  border-radius: 0.5em;
  padding: 1rem 0.8rem;
  margin-top: 2rem;
  background-color: #1C293A;
  border: 1px solid white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 12px; */
  margin-bottom: 1rem;
}

input {
  /* width: 264px; */
  width: 18.5rem;
  height: 2rem;
  /* border-radius: 0.5em; */
  border: none;
  /* margin-left: 6px; */
  margin-left: 0.37rem;
  margin-top: 1rem;
  background-color: #1C293A;
  text-align: right;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
}

.input:focus {
  border: none;
}

button {
  /* width: 80px; */
  width: 4rem;
  height: 2rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.5em;
  border: 1px solid #1C293A;
  margin: auto;
  font-weight: bold;
}

#light-grey {
  background-color: #D4D4D2;
}

#dark-grey {
  background-color: #505050;
}

#dark-background {
  background-color: #1C1C1C;
}

#orange {
  background-color: #FF9500;
}