:root {
  --background: #1C293A;
  --button: #354356;
  --font: #fff;
}

body {
  /* height: 100vw; */
  width: 100vw;
  font-family: 'Chakra Petch', sans-serif;
  background-color: var(--background);
  overflow: hidden;
  font-size: 16px;
  display: flex;
}

.main-container {
  display: flex;
  margin: auto;
}

.container {
  width: 20rem;
  border-radius: 0.5em;
  padding: 1rem 0.8rem;
  background-color: var(--background);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 12px; */
  margin-bottom: 1rem;
}

input {
  /* width: 264px; */
  width: 18.5rem;
  height: 2rem;
  /* border-radius: 0.5em; */
  border: none;
  /* margin-left: 6px; */
  margin-left: 0.37rem;
  margin-top: 1rem;
  background-color: var(--background);
  text-align: right;
  color: var(--font);
  font-weight: bold;
  font-size: 2rem;
}

.input:focus {
  border: none;
}

button {
  background-color: var(--button);
  width: 4rem;
  height: 2rem;
  color: var(--font);
  text-align: center;
  border-radius: 0.5em;
  border: 1px solid #1C293A;
  margin: auto;
  font-weight: bold;
}
